{% extends "base.html" %}
{% load static %}
{% block title %}UFO Events{% endblock %} 
{% block content %}

<img src="{% static 'polls/avatar.png' %}">
<ul>
    {% for event in events %}
        <li>
            <a href="{% url 'detail' event.id %}">
            {{ event.desc | upper }}
            </a> 
            <p>
                <a href="{% url 'events_by_year_month_day' event.date.year event.date.month event.date.day %}">{{ event.date.date }}</a> @ {{ event.date.time }}
            </p>
        </li>
    {% empty %}
        <li>No events</li>
    {% endfor %}
</ul>
{% endblock %}